/* Default styles for larger screens */
.input-div-for-csv {
  border: 1px solid rgb(198, 10, 250);
  border-radius: 10px;
  padding: 20px 0px;
  text-align: center;
}

.input-div-for-csv label {
  color: #fff;
  font-family: Be Vietnam Pro;
  font-size: 20px;
  font-weight: 400;
  line-height: 154.1%;
  letter-spacing: 1.1px;
}

.display-csvfile-here {
  border: 1px solid rgb(180, 8, 242);
  margin-top: 20px;
  border-radius: 20px 20px 10px 10px;
  text-align: center;
}

.input-csv-feild {
  color: #fff;
  font-family: Be Vietnam Pro;
  font-size: 20px;
  font-weight: 400;
  line-height: 154.1%;
  letter-spacing: 1.1px;
  font-size: 20px;
}

.table-wrapper {
  max-height: 400px;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
}

.button-to-submit-csv {
  padding: 10px;
  background-color: transparent;
  font-family: Almarai;
  font-size: 20px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0.085em;
  text-align: center;
  width: max-content;
  margin-bottom: 20px;
  color: white;
  border: 1px solid rgb(157, 9, 237);
  border-radius: 25px;
}

.button-to-submit-csv:hover {
  box-shadow: rgba(110, 171, 232, 0.2) 0px 8px 24px;
  transform: scale(1.01);
  background-color: rgba(206, 16, 231, 0.494);
  cursor: grab;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@media (max-width: 768px) {
  .input-div-for-csv {
    padding: 10px 0px;
  }

  .input-div-for-csv label {
    font-size: 16px;
  }

  .display-csvfile-here {
    margin-top: 10px;
  }

  .input-csv-feild {
    font-size: 16px;
  }

  .table-wrapper {
    max-height: 300px;
  }

  table {
    font-size: 10px;
  }

  .button-to-submit-csv {
    font-size: 18px;
    margin: 0;
  }
}
