/* Default styles for larger screens */
.main-div-for-upload-csv-file {
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #09112C ;
}
.input-div-for-csv {
  /* border: 1px solid rgb(198, 10, 250); */
  border-radius: 10px;
  /* padding: 20px 0px; */
  margin: 20px 0px;
  text-align: center;
}

#background-csv {
  background-color: #09112C !important;
}

.input-div-for-csv label {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 154.1%;
  letter-spacing: 1.1px;
}

.display-csvfile-here {
  /* border: 1px solid rgb(180, 8, 242); */
  border-radius: 20px 20px 10px 10px;
  text-align: center;
}

.input-csv-feild {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 154.1%;
  letter-spacing: 1.1px;
  font-size: 20px;
  margin-right: -10px;
}

.input-error {
  background-color: red;
  color: white;
}

.table-wrapper {
  max-height: 400px;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: center;
}

.or-or {
  margin-left: -95px;
  margin-right: 10px;
}

.download-btn button {
  border-radius: 10px;
  background-color: #09112C;
  color: white;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0.085em;
  text-align: center;
  width: max-content;
  padding: 5px 20px;
  border: none;
  margin-right: 20px;
  margin-left: 10px;
}

.button-to-submit-csv {
  padding: 10px;
  background-color: transparent;
  font-size: 20px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0.085em;
  text-align: center;
  width: max-content;
  margin: 20px 0px;
  color: white;
  border: 1px solid rgb(157, 9, 237);
  border-radius: 25px;
}

.button-to-submit-csv:hover {
  box-shadow: rgba(110, 171, 232, 0.2) 0px 8px 24px;
  transform: scale(1.01);
  background-color: rgba(206, 16, 231, 0.494);
  cursor: grab;
}

.Whole-div-for-same-csv {
  border: 1px solid #09112C;
  border-radius: 10px 10px 0px 0px;
}

.title-load-token-same-csv {
  border-radius: 10px 10px 0px 0px;
  font-size: 12px;
  background-color: #09112C;
  margin-top: -15px;
  margin-bottom: 35px;
}

.upload-or-download {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title-for-account-summary-cs-svame {
  border-radius: 10px 10px 0px 0px;
  font-size: 12px;
  background-color: #09112C;
  margin-top: 40px;
}

.showtoken-table-csv-same thead {
  font-size: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.187);
}
.showtoken-table-csv-same td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.187);
}
.showtoken-table-csv-same {
  margin-top: -15px;
  /* border: 1px solid #09112C; */
}

#border-purple {
  border: 1px solid #09112C !important;
}

#background-purple {
  background-color: #09112C !important;
}

.token-div-same-csv {
  padding-bottom: 10px;
}

.title-for-upload-file-csv-same {
  border-radius: 10px 10px 0px 0px;
  font-size: 12px;
  background-color: #09112C;
  margin-top: 15px;
  /* margin-bottom: 35px; */
}

.title-tnx-line-same-csv {
  border-radius: 10px 10px 0px 0px;
  font-size: 12px;
  background-color: #09112C;
  margin-bottom: -20px;
}

#table-header-csv-same {
  font-size: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@media (max-width: 768px) {
  .input-div-for-csv {
    padding: 10px 0px;
  }

  .input-div-for-csv label {
    font-size: 16px;
  }

  .display-csvfile-here {
    margin-top: 10px;
  }

  .input-csv-feild {
    font-size: 16px;
  }

  .table-wrapper {
    max-height: 300px;
  }

  table {
    font-size: 10px;
  }

  .button-to-submit-csv {
    font-size: 18px;
    margin: 0;
  }
}
