.main-div-of-dashboard {
  /* background-image: linear-gradient(43deg, #4159d070 0%, #C850C0 46%, #FFCC70 100%);  */
  /* filter: blur(20px); */
  margin-top: 150px;

  /* background-color: rgba(0, 0, 255, 0.363); */
  color: white;
}

.menu-bar-dashboard button {
  font-family: Almarai;
  font-size: 14px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0.085em;
  text-align: center;
  border-radius: 25px;
  width: 100%;
  padding: 7px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  margin: 0px 3px;
}
.menu-bar-dashboard {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* border: 1px solid white; */
}

#create {
  border: 1px solid rgb(13, 228, 217);
  box-shadow: rgba(110, 171, 232, 0.2) 0px 8px 24px;
}

#create:hover {
  background-color: rgba(64, 214, 214, 0.711);
  border: 1px solid rgb(25, 151, 215);
  /* color: black; */
  box-shadow: rgba(110, 171, 232, 0.2) 0px 8px 24px;
}

#csv {
  border: 1px solid rgb(205, 17, 238);
  box-shadow: rgba(185, 22, 142, 0.2) 0px 8px 24px;
}

#csv:hover {
  background-color: rgba(213, 20, 239, 0.55);
  border: 1px solid rgb(108, 17, 95);
  /* color: black; */
  box-shadow: rgba(110, 171, 232, 0.2) 0px 8px 24px;
}

#view {
  border: 1px solid rgb(21, 224, 21);
  box-shadow: rgba(20, 206, 73, 0.433) 0px 8px 24px;
}

#view:hover {
  background-color: rgba(35, 209, 99, 0.46);
  border: 1px solid rgb(18, 205, 80);
  /* color: black; */
  box-shadow: rgba(110, 171, 232, 0.2) 0px 8px 24pxview;
}
.main-div-for-all-option-dashboard {
  margin: 0px 300px;
  display: flex;
  /* gap: 30px; */
  justify-content: center;
}

.component-container-dashboard {
  /* border: 1px solid black; */
  margin: 15px 300px;
}

/* Default styles */

@media (max-width: 768px) {
  /* Adjust styles for screens with a maximum width of 768px */
  .main-div-for-all-option-dashboard {
    margin: 10px; /* Remove the horizontal margin */
    /* flex-direction: column; Stack buttons vertically */
  }

  .title-div-dashboard {
    font-size: 12px;
  }

  .menu-bar-dashboard {
    width: 100%;
    margin: 2px 10px;
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
  }

  .menu-bar-dashboard button {
    width: 100%; /* Make buttons take full width */
    margin: 5px 0; /* Add some vertical spacing between buttons */
  }

  .component-container-dashboard {
    margin: 2px 5px;
  }
}
