.main-div-of-dashboard {
  background-image: url("../../Assets/dashboard-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  /* background: #000000; */
  background-size: cover;

  color: white;
}

.title-div-dashboard h3 {
  padding-top: -5px;
  padding-bottom: 15px;
  border-bottom: 1px solid white;
  letter-spacing: 1.5px;
  font-size: 15px;
}
.title-div-dashboard h1 {
  letter-spacing: 1.5px;

  font-size: 2.2rem;
}
.title-div-dashboard {
  padding: 5px;
  /* background-color: rgba(255, 255, 255, 0.241); */
  border: 1px solid rgba(255, 255, 255, 0.563);
  border: none;
  border-radius: 10px;
  margin: 0px 300px;
}

.images-in-this img {
  /* margin: 5px; */
  border-radius: 5px;
  width: -webkit-fill-available;
}
.images-in-this {
  /* margin: 0px 300px 10px 300px; */
}
textarea:focus {
  outline: none;
}
textarea::-webkit-scrollbar-thumb {
  background-color: white;
}

/* Set the color of the scrollbar track */
textarea::-webkit-scrollbar-track {
  background-color: linear-gradient(111deg, #b659ff 11.51%, #6977ff 84.76%);
}

/* Set the width of the scrollbar */
textarea::-webkit-scrollbar {
  width: 5px;
}
.menu-bar-dashboard button {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 154.1%; /* 36.984px */
  letter-spacing: 2.04px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  padding: 15px 7px;
  border-radius: 63px;
  border: 1px solid #2dda8f;
  background-color: transparent;
  color: white;
  margin: 0px 5px;
}
.menu-bar-dashboard button.active {
  color: #7543f6;
  background-color: white !important;
  border: none !important;
}
.menu-bar-dashboard {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* border: 1px solid white; */
}

.image-option {
  width: 60px;
  height: auto;
}

#create {
  /* padding: initial; */
  display: flex;
  border-radius: 63px;
  border: 1px solid #2dda8f;
  /* box-shadow: rgba(110, 171, 232, 0.2) 0px 8px 24px; */
  align-items: center;
  justify-content: center;
}

#create:hover {
  border-radius: 63px;
  border: none;
  box-shadow: 0px 0px 14px 0px #fff;
}

#csv {
  /* padding: initial; */
  display: flex;
  border-radius: 63px;
  border: 1px solid #2dda8f;
  /* box-shadow: rgba(110, 171, 232, 0.2) 0px 8px 24px; */
  align-items: center;
  justify-content: center;
}

#csv:hover {
  border-radius: 63px;
  border: none;
  box-shadow: 0px 0px 14px 0px #fff;
  /* box-shadow: rgba(110, 171, 232, 0.2) 0px 8px 24px; */
}

#view {
  /* padding: initial; */
  display: flex;
  border-radius: 63px;
  border: 1px solid #2dda8f;
  /* box-shadow: rgba(110, 171, 232, 0.2) 0px 8px 24px; */
  align-items: center;
  justify-content: center;
}

#view:hover {
  border-radius: 63px;
  border: none;
  box-shadow: 0px 0px 14px 0px #fff;
}
.main-div-for-all-option-dashboard {
  margin: 0px 300px;
  display: flex;
  justify-content: center;
}

.component-container-dashboard {
  /* border: 1px solid black; */
  margin: 15px 300px;
}
.dashboard-bg {
}
.dash-bgImg1 {
  width: 347.141px;
  height: 321.106px;
  transform: rotate(-61.16deg);
  flex-shrink: 0;
  position: absolute;
  left: -13%;
  right: 24%;
}
.dash-bgImg2 {
  width: 400px;
  height: 400px;
  /* transform: rotate(76.3deg); */
  flex-shrink: 0;
  position: absolute;
  bottom: -305px;
  right: 0;
}

.color-tooltip .tooltip-inner {
  background-color: #3498db !important; /* Tooltip background color */
  color: #fff; /* Tooltip text color */
  border-radius: 4px; /* Optional: Add rounded corners to the tooltip */
  padding: 8px 12px; /* Optional: Adjust padding as needed */
}

.color-tooltip .tooltip.bs-tooltip-top .arrow::before {
  border-top-color: #3498db; /* Tooltip arrow color */
}

.color-tooltip .tooltip.bs-tooltip-top .arrow::after {
  border-top-color: #3498db; /* Tooltip arrow shadow color */
}
@media (max-width: 1024px) {
  .title-div-dashboard {
    margin: 0 150px !important;
    position: relative;
  }
  .main-div-for-all-option-dashboard {
    margin: 0 150px !important;
  }
  .component-container-dashboard {
    margin: 20px 150px !important;
  }
}
@media (max-width: 768px) {
  .main-div-for-all-option-dashboard {
    margin: 10px;
  }

  .images-in-this img {
    width: 100%;
    margin: 0px 10px;
  }

  .title-div-dashboard h3 {
    letter-spacing: 3px;
    padding-bottom: 15px;
  }
  .title-div-dashboard {
    margin: 5px;
    font-size: 12px;
  }

  .menu-bar-dashboard {
    width: 100%;
    margin: 2px 10px;
    display: flex;
    flex-direction: column;
  }

  .menu-bar-dashboard button {
    width: 100%;
    margin: 5px 0;
  }

  .component-container-dashboard {
    margin: 15px 0px;
  }
}

@media (max-width: 425px) {
  .main-div-of-dashboard {
    height: auto;
    width: 100%;
    margin-bottom: auto;
  }

  .title-div-dashboard {
    margin: 0px;
  }
}

@media (max-width: 375px) {
  .title-div-dashboard {
    margin: 0 150px !important;
    position: relative;
  }
  .main-div-for-all-option-dashboard {
    margin: 0 150px !important;
  }
  .component-container-dashboard {
    margin: 20px 150px !important;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
