.main-div-of-dashboard {
  /* background-image: linear-gradient(43deg, #4159d070 0%, #C850C0 46%, #FFCC70 100%);  */
  /* filter: blur(20px); */
  /* margin-top: 110px; */

  /* background-color: rgba(0, 0, 255, 0.363); */
  color: white;
}

.title-div-dashboard h3 {
  padding-top: -5px;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}
.title-div-dashboard {
  padding: 5px;
  /* background-color: rgba(255, 255, 255, 0.241); */
  border: 1px solid rgba(255, 255, 255, 0.563);
  border: none;
  border-radius: 10px;
  margin: 10px 300px;
}

.images-in-this img {
  /* margin: 5px; */
  border-radius: 5px;
  width: -webkit-fill-available;
}
.images-in-this {
  /* margin: 0px 300px 10px 300px; */
}

.menu-bar-dashboard button {
  font-size: 15px;
  font-weight: bolder;
  line-height: 37px;
  letter-spacing: 0.085em;
  text-align: center;
  border-radius: 7px;
  width: 100%;
  padding: 7px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  margin: 0px 3px;
}
.menu-bar-dashboard {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* border: 1px solid white; */
}

#create {
  background-color: #0c3d77;
  border: 1px solid #0c3d77;
  /* box-shadow: rgba(110, 171, 232, 0.2) 0px 8px 24px; */
}

#create:hover {
  background-color: rgba(64, 214, 214, 0.023);
  border: 1px solid #0c3d77;
  /* color: black; */
  /* box-shadow: rgba(110, 171, 232, 0.2) 0px 8px 24px; */
}

#csv {
  background-color: #09112c;
  background-color: #09112c;
  border: 1px solid #09112c;
  /* box-shadow: rgba(185, 22, 142, 0.2) 0px 8px 24px; */
}

#csv:hover {
  background-color: rgba(213, 20, 239, 0);
  border: 1px solid #09112c;
  /* box-shadow: rgba(110, 171, 232, 0.2) 0px 8px 24px; */
}

#view {
  background-color: #173bc5;
  border: 1px solid #173bc5;
}

#view:hover {
  background-color: rgba(35, 209, 99, 0);
  border: 1px solid #173bc5;
  /* color: black; */
  /* box-shadow: rgba(110, 171, 232, 0.2) 0px 8px 24pxview; */
}
.main-div-for-all-option-dashboard {
  margin: 0px 300px;
  display: flex;
  justify-content: center;
}

.component-container-dashboard {
  /* border: 1px solid black; */
  margin: 15px 300px;
}

@media (max-width: 768px) {
  .main-div-for-all-option-dashboard {
    margin: 10px;
  }

  .images-in-this img {
    width: 100%;
    margin: 0px 10px;
  }

  .title-div-dashboard h3 {
    letter-spacing: 3px;
    padding-bottom: 15px;
  }
  .title-div-dashboard {
    margin: 5px;
    font-size: 12px;
  }

  .menu-bar-dashboard {
    width: 100%;
    margin: 2px 10px;
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
  }

  .menu-bar-dashboard button {
    width: 100%; /* Make buttons take full width */
    margin: 5px 0; /* Add some vertical spacing between buttons */
  }

  .component-container-dashboard {
    margin: 15px 0px;
  }
}
