.load-tokens {
  border: 1px solid #173bc5;
  border-radius: 5px;
  padding: 5px 0px;
}

.text-list-div label {
  font-size: 30px;
}

#green-border {
  /* margin-bottom: 5px; */
  margin-top: -5px;
  border: 1px solid #173bc5;
}

.text-list-div {
  /* border: 1px solid #0b9f5a; */
  margin: 10px 0px;
  border-radius: 5px;
  padding: 15px 0px;
}
.text-list-div textarea {
  color: aliceblue !important;
  margin-top: -15px;
  background-color: transparent !important;
  border-color: #173bc5 !important;
  margin-bottom: 20px;
}

.textarea-text-list {
  margin: 10px 0px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border-radius: 5px;
}

.table-header-text-list {
  background-color: rgba(255, 255, 255, 0);
}

.table-text-list tr {
  font-size: 16px;
  margin: 5px 0px;
  border-bottom: 1px solid #dfe9e44e;
}
.table-text-list th {
  font-size: 20px;
}

.table-text-list th,
td {
  width: 50%;
  text-align: center;
}

.showtoken-table-same-text tr {
  border: 1px solid #173bc5;
}

.showtoken-table-same-text {
  border: 1px solid #173bc5;
  width: 100%;
  margin: 5px 0px;
  border-collapse: collapse;
  margin-top: -15px;
  margin-bottom: 40px;
}

.table-container {
  max-height: 250px; /* Set the maximum height you want */
  overflow-y: auto; /* Enable vertical scroll when content exceeds height */
}

.table-container::-webkit-scrollbar {
  width: 3px;
}

.table-container::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.386);
}

#same-text-btn-pay:hover {
  background-color: #173bc5;
}

#same-text-btn-pay {
  margin: 15px 0px;
  border-color: greenyellow;
}

.div-to-cover-same-text-div {
  border: 1px solid #173bc5;
  border-radius: 15px;
  padding: 10px 0px;
  margin-bottom: 150px;
}

.title-for-linup-same-text {
  background-color: #173bc5;
  border-radius: 10px 10px 0px 0px;
  /* margin-top: -25px; */
  font-size: 12px;
  /* margin-bottom: 30px; */
  margin-bottom: -10px;
}

.title-load-token-same-text {
  background-color: #173bc5;
  border-radius: 10px 10px 0px 0px;
  margin-top: -25px;
  font-size: 12px;
  margin-bottom: 30px;
}

#border-green {
  border: 1px solid #173bc5;
}

#background-green:hover {
  background-color: transparent;
  border-color: #173bc5;
}
#background-green {
  background-color: #173bc5;
}

.title-same-text-textarea {
  background-color: #173bc5;
  border-radius: 10px 10px 0px 0px;
  margin-top: -15px;
  font-size: 12px;
}

.account-summary-cross-chain {
  margin-top: 80px;
}

.title-for-account-summary-text-same {
  background-color: #173bc5;
  border-radius: 10px 10px 0px 0px;
  margin-top: -15px;
  font-size: 12px;
}

#green-background:hover {
  background-color: transparent;
}
#green-background {
  background-color: #173bc5;
  border: 1px solid #173bc5;
}
