.load-tokens {
  border-radius: 63px;
  border: 3px solid #fff;
  padding: 5px 0px;
}

.text-list-div label {
  font-size: 30px;
}

#green-border {
  /* margin-bottom: 5px; */
  margin-top: -5px;
  border: 1px solid #173bc5;
}

.text-list-div {
  /* border: 1px solid #0b9f5a; */

  border-radius: 5px;
}
.text-list-div textarea {
  color: aliceblue !important;
  background-color: transparent !important;
  border: "none";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --sb-track-color: #000000;
  --sb-thumb-color: #deff02;
  --sb-size: 6px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}
.text-list-div textarea::placeholder {
  color: rgba(255, 255, 255, 0.45);
  font-size: 15px;
}

.textarea-text-list {
  margin: 10px 0px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border-radius: 5px;
}

.table-header-text-list {
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid white;
}

.table-text-list tr {
  font-size: 16px;
  margin: 5px 0px;
  /* border-bottom: 1px solid #dfe9e44e; */
}
.table-text-list th {
  font-size: 15px;
  letter-spacing: 1px;
}

.table-text-list th,
td {
  text-align: center;
}

.showtoken-table-same-text tr {
  /* border: 1px solid #173bc5; */
}

.showtoken-table-same-text {
  width: 100%;
  margin: 5px 0px;
  border-collapse: collapse;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
  padding: 10px;
}

.table-container th,
.table-container td {
  /* border: 1px solid #ddd; */
  padding: 8px;
  text-align: center;
}

.table-container th {
  /* font-size: 20px; */
}

#same-text-btn-pay:hover {
  background-color: #173bc5;
}

#same-text-btn-pay {
  margin: 15px 0px;
  border-color: greenyellow;
}

.div-to-cover-same-text-div {
  border-radius: 47px;
  border: 1px solid #fff;
  background: linear-gradient(
    101deg,
    rgba(255, 255, 255, 0.31) 1.58%,
    rgba(255, 255, 255, 0.03) 98.15%
  );
  backdrop-filter: blur(30.5px);

  margin: 50px 0px;
}

.title-for-linup-same-text h2 {
  background: #fff;
  /* padding: 5px 0px; */
  color: #8f00ff;
  font-weight: 700;
  letter-spacing: 1.04px;
  font-size: 15px;
  margin: 0px;
}

.title-load-token-same-text {
  border-radius: 47.5px 47.5px 0px 0px;
  background: #fff;
  padding: 5px 0px;
  font-size: 12px;
}
.title-load-token-same-text h2 {
  color: #8f00ff;
  font-weight: 700;
  letter-spacing: 1.04px;
  margin: 0px;
  font-size: 15px;
}

#background-green:hover {
  box-shadow: rgba(238, 242, 243, 0.553) 0px 5px 15px;
}
#background-green {
  cursor: pointer;
  padding: 10px 25px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 63px;
  margin: 0px 20px;
  font-size: 15px;
  letter-spacing: 1px;
}

.title-same-text-textarea {
  /* border-radius: 39.5px 39.5px 0px 0px; */
  background: #fff;
  /* padding: 5px 0px; */
  /* margin-top: 10px; */
  font-size: 12px;
}
.token-input::placeholder {
  color: rgba(255, 255, 255, 0.45);
}
.token-input:hover {
  box-shadow: 0px 0px 29px 0px rgba(255, 255, 255, 0.25);
}
.title-same-text-textarea {
  color: #8f00ff;
  font-weight: 700;
  line-height: 154.1%;
  letter-spacing: 1.04px;
  padding: 5px 0px;
  /* margin: 25px 0px; */
}

.account-summary-cross-chain {
  margin-top: 80px;
}

.title-for-account-summary-text-same {
  background: #fff;
  /* padding: 5px 0px; */

  font-size: 12px;
}
.title-for-account-summary-text-same h2 {
  color: #8f00ff;
  font-weight: 700;
  letter-spacing: 1.04px;
  margin: 0px;
  font-size: 15px;
}
#green-background:hover {
  background-color: transparent;
}
/* #green-background {
  background-color: #173bc5;
  border: 1px solid #173bc5;
} */
.account-summary-th {
  width: 30% !important;
  letter-spacing: 1px;
  /* font-size: 20px; */
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 768px) {
  #background-green {
    cursor: pointer;
    padding: 10px 25px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 63px;
    margin: 10px 15px;
    font-size: 15px;

    letter-spacing: 1px;
  }
  .text-list-div textarea {
    font-size: 15px !important;
  }
  .component-container-dashboard {
    margin: 20px 50px !important;
  }
  .each-input-of-create-list {
    margin: 10px 20px !important;
  }
}
@media only screen and (max-width: 425px) {
  .div-to-cover-same-text-div {
    margin: 0px 10px;
    margin-bottom: 150px;
  }

  .component-container-dashboard {
    margin: 20px 20px !important;
  }
  .title-load-token-same-text h2 {
    color: #8f00ff;
    font-weight: 700;
    letter-spacing: 1.04px;
    margin: 0px;
    font-size: 13px;
  }

  .text-list-div textarea {
    font-size: 12px;
    height: 200px;
  }

  .table-container {
    max-height: none;
  }

  .table-container th,
  .table-container td {
    padding: 6px;
    font-size: 14px;
  }

  .title-for-linup-same-text {
    width: 100%;
  }
  #background-green {
    cursor: pointer;
    padding: 10px 25px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 63px;
    margin: 10px 20px;
    font-size: 15px;
    width: 85%;
    letter-spacing: 1px;
  }
  .each-input-of-create-list {
    width: 85%;
    margin: 10px 20px !important;
  }
  .text-list-div textarea::placeholder {
    color: rgba(255, 255, 255, 0.45);
    font-size: 12px;
  }
  .text-list-div textarea {
    font-size: 13px !important;
    height: 100px;
  }
  .title-inline {
    font-size: 13px;
  }
  .title-for-linup-same-text h2 {
    font-size: 13px;
  }
  .table-text-list tr {
    font-size: 12px;
  }
  .table-text-list th {
    font-size: 12px;
    letter-spacing: 1px;
  }
  .title-div-dashboard h3 {
    padding-top: -5px;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
    letter-spacing: 1.5px;
    font-size: 12px;
  }
  .menu-bar-dashboard button {
    padding: 10px 7px;
    font-size: 15px;
  }
  .scrollable-table-container {
    margin: 25px 0px;
    max-height: 280px;
    overflow: auto;
  }
}

@media only screen and (max-width: 375px) {
  .div-to-cover-same-text-div {
    margin: 10px;
  }
  #background-green {
    cursor: pointer;
    padding: 10px 25px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 63px;
    margin: 10px 20px;
    font-size: 15px;
    width: 85%;
    letter-spacing: 1px;
  }
  .each-input-of-create-list {
    width: 85%;
    margin: 10px 20px !important;
  }
}
