.main-div-ihomepage {
  /* border: 1px solid black; */
  padding: 234px 0px 45px 0px;
  font-family: Almarai;
  font-size: 18px;
  font-weight: 300;
  line-height: 44px;
  letter-spacing: 0.055em;
  text-align: center;
  color: white;
  z-index: -10;
}

.get-started-button:hover {
  scale: 1.05;
  /* background-image: linear-gradient(135deg, #c2ffd8 10%, #465efb 100%); */
  background-image: linear-gradient(
    to right,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #b465da 0%,
    #cf6cc9 33%,
    #ee609c 66%,
    #ee609c 100%
  );
  color: white;
}
.get-started-button {
  cursor: grab;
  margin-top: 50px;
  width: 353px;
  height: 60px;
  padding: 15px, 61px, 15px, 61px;
  border-radius: 39px;

  background: transparent;
  /* background-image: linear-gradient(135deg, #ee9ae5 10%, #5961f9 100%); */
  font-family: Almarai;
  font-size: 15px;
  font-weight: 900;
  line-height: 31px;
  letter-spacing: 0.055em;
  text-align: center;
  color: rgb(254, 254, 255);
  border: 3px solid #1bff76;
}

.ihomepage-title-i h1 {
  overflow: hidden;
  white-space: normal;
  margin: 0 auto;
  letter-spacing: 0.15em;
  font-family: "Almarai", sans-serif;
  font-weight: 300;
}

.ihome-title-ii {
  overflow: hidden;
  white-space: nowrap; /* Use 'nowrap' to ensure the text doesn't wrap */
  margin: 0 auto;
  letter-spacing: 0.15em;
}

@media (max-width: 768px) {
  .main-div-ihomepage {
    margin-top: -40px;
    font-size: 12px;
  }

  @media (max-width: 768px) {
    .get-started-button {
      padding: 4px 0;
      font-size: 20px;
      border-radius: 35px;
      margin-top: 10px;
      width: 200px;
      height: 45px;
    }
  }
}

.foot-footer {
  /* position: fixed; */
  /* bottom: 1px; */
  width: 100%;
  text-align: center;
  color: white;
}

.blur-background {
  filter: blur(5px);
}

.main-container {
  position: relative;
  /* Add any other styling for your main container */
}

/* Base Styles */
.custom-modal {
  background-color: #f0f0f0;
  width: 400px;
  height: 300px;
  font-size: 35px;
  padding: 10px;
  border-radius: 25px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.blur-background {
  filter: blur(5px);
}

.main-container {
  position: relative;
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Container */
.modal-container {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Modal Header */
.custom-modal-header {
  display: flex;
  justify-content: flex-end;
}

/* Close Button */
.custom-close-button {
  display: flex;
  flex-direction: row-reverse;
  margin: 3px;
  background: #11033400;
  border: none;
  cursor: pointer;
  font-size: 25px;
  color: #ebe1e1;
}

.custom-close-button:hover {
  color: #e74c3c;
}

/* Text Styles */
.custom-modal h5 {
  margin-bottom: 25px;
  color: #23046a;
}

.custom-modal p {
  color: rgb(74, 7, 105);
  font-size: 35px;
  font-size: 16px;
  margin-bottom: 15px;
}

/* Button Styles */
.custom-modal button {
  font-weight: 700;
  background-color: #e4e7ed;
  color: #110334;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 21px;
  margin: 0 8px;
}

.custom-modal button:hover {
  background-color: #2980b9;
}
