.first-comp-landing-page {
  /* z-index: -1; */
  position: fixed;
}

.landingpff {
  height: max-content;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #230d3f;
  /* overflow: hidden; */
}

.background span {
  width: 2vmin;
  height: 2vmin;
  border-radius: 3vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 8;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #6ebaa4;
  top: 19%;
  left: 54%;
  animation-duration: 45s;
  animation-delay: -250s;
  transform-origin: 19vw -4vh;
  box-shadow: 6vmin 0 1.5141318926351408vmin currentColor;
}
.background span:nth-child(1) {
  color: #877033;
  top: 16%;
  left: 31%;
  animation-duration: 206s;
  animation-delay: -326s;
  transform-origin: -24vw -9vh;
  box-shadow: 6vmin 0 0.9873987950925149vmin currentColor;
}
.background span:nth-child(2) {
  color: #a27799;
  top: 80%;
  left: 11%;
  animation-duration: 30s;
  animation-delay: -65s;
  transform-origin: 5vw 1vh;
  box-shadow: -6vmin 0 1.3521724350509736vmin currentColor;
}
.background span:nth-child(3) {
  color: #f061a6;
  top: 5%;
  left: 4%;
  animation-duration: 94s;
  animation-delay: -126s;
  transform-origin: -14vw 16vh;
  box-shadow: 6vmin 0 1.3195126558927661vmin currentColor;
}
.background span:nth-child(4) {
  color: #f061a6;
  top: 45%;
  left: 93%;
  animation-duration: 306s;
  animation-delay: -108s;
  transform-origin: -20vw -10vh;
  box-shadow: 6vmin 0 1.4136258306472425vmin currentColor;
}
.background span:nth-child(5) {
  color: #583c87;
  top: 27%;
  left: 10%;
  animation-duration: 247s;
  animation-delay: -399s;
  transform-origin: -20vw -15vh;
  box-shadow: 6vmin 0 1.0192026349057084vmin currentColor;
}
.background span:nth-child(6) {
  color: #583c87;
  top: 10%;
  left: 80%;
  animation-duration: 24s;
  animation-delay: -348s;
  transform-origin: 7vw -3vh;
  box-shadow: -6vmin 0 1.2054470453212272vmin currentColor;
}
.background span:nth-child(7) {
  color: #877033;
  top: 48%;
  left: 67%;
  animation-duration: 125s;
  animation-delay: -136s;
  transform-origin: 23vw 4vh;
  box-shadow: 6vmin 0 1.5654868714151626vmin currentColor;
}
.background span:nth-child(8) {
  color: #6ebaa4;
  top: 55%;
  left: 51%;
  animation-duration: 170s;
  animation-delay: -226s;
  transform-origin: -19vw 14vh;
  box-shadow: 6vmin 0 1.4227283524052838vmin currentColor;
}
.background span:nth-child(9) {
  color: #6ebaa4;
  top: 25%;
  left: 9%;
  animation-duration: 269s;
  animation-delay: -296s;
  transform-origin: 2vw -8vh;
  box-shadow: -6vmin 0 1.3631223752666168vmin currentColor;
}
.background span:nth-child(10) {
  color: #f061a6;
  top: 76%;
  left: 61%;
  animation-duration: 348s;
  animation-delay: -140s;
  transform-origin: 16vw 24vh;
  box-shadow: -6vmin 0 0.8911700397136975vmin currentColor;
}
.background span:nth-child(11) {
  color: #877033;
  top: 42%;
  left: 62%;
  animation-duration: 55s;
  animation-delay: -53s;
  transform-origin: -23vw -16vh;
  box-shadow: -6vmin 0 1.6231011093323808vmin currentColor;
}
.background span:nth-child(12) {
  color: #6ebaa4;
  top: 28%;
  left: 16%;
  animation-duration: 282s;
  animation-delay: -151s;
  transform-origin: 17vw 3vh;
  box-shadow: -6vmin 0 1.2746380414819456vmin currentColor;
}
.background span:nth-child(13) {
  color: #877033;
  top: 16%;
  left: 85%;
  animation-duration: 162s;
  animation-delay: -328s;
  transform-origin: -7vw 21vh;
  box-shadow: -6vmin 0 1.6567134060897601vmin currentColor;
}
.background span:nth-child(14) {
  color: #877033;
  top: 81%;
  left: 28%;
  animation-duration: 96s;
  animation-delay: -261s;
  transform-origin: -17vw 6vh;
  box-shadow: -6vmin 0 1.18662593664195vmin currentColor;
}
.background span:nth-child(15) {
  color: #583c87;
  top: 94%;
  left: 72%;
  animation-duration: 40s;
  animation-delay: -359s;
  transform-origin: -19vw -3vh;
  box-shadow: 6vmin 0 1.4550931181560705vmin currentColor;
}
.background span:nth-child(16) {
  color: #a27799;
  top: 64%;
  left: 56%;
  animation-duration: 33s;
  animation-delay: -296s;
  transform-origin: -11vw -6vh;
  box-shadow: 6vmin 0 1.3177853475577272vmin currentColor;
}
.background span:nth-child(17) {
  color: #6ebaa4;
  top: 15%;
  left: 57%;
  animation-duration: 261s;
  animation-delay: -255s;
  transform-origin: -5vw -18vh;
  box-shadow: 6vmin 0 1.2659641495430374vmin currentColor;
}
.background span:nth-child(18) {
  color: #583c87;
  top: 60%;
  left: 46%;
  animation-duration: 180s;
  animation-delay: -306s;
  transform-origin: 9vw -11vh;
  box-shadow: 6vmin 0 0.9765815542391585vmin currentColor;
}
.background span:nth-child(19) {
  color: #583c87;
  top: 8%;
  left: 54%;
  animation-duration: 93s;
  animation-delay: -95s;
  transform-origin: -12vw -11vh;
  box-shadow: 6vmin 0 1.698610966863053vmin currentColor;
}
.background span:nth-child(20) {
  color: #583c87;
  top: 68%;
  left: 70%;
  animation-duration: 35s;
  animation-delay: -29s;
  transform-origin: -9vw -2vh;
  box-shadow: -6vmin 0 0.9526295725146801vmin currentColor;
}
.background span:nth-child(21) {
  color: #a27799;
  top: 87%;
  left: 33%;
  animation-duration: 263s;
  animation-delay: -25s;
  transform-origin: 21vw -11vh;
  box-shadow: 6vmin 0 0.9675917159704048vmin currentColor;
}
.background span:nth-child(22) {
  color: #a27799;
  top: 72%;
  left: 92%;
  animation-duration: 155s;
  animation-delay: -143s;
  transform-origin: -11vw 14vh;
  box-shadow: 6vmin 0 1.3297820189226397vmin currentColor;
}
.background span:nth-child(23) {
  color: #f061a6;
  top: 95%;
  left: 12%;
  animation-duration: 161s;
  animation-delay: -167s;
  transform-origin: 2vw 7vh;
  box-shadow: -6vmin 0 0.9217468571851235vmin currentColor;
}
