.whole-landing-page {
  background-image: url("../Assets/Homepage-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  /* background: #000; */
  background-size: cover;
  min-height: 87vh;
}

.first-comp-landing-page {
  /* z-index: -1; */
  position: fixed;
}

.image-right {
  position: absolute;
  top: 35%;
  right: 0%;
  /* z-index: -2; */
}

.image-left {
  position: absolute;
  top: 0%;
  left: 0%;
  /* z-index: -2; */
}

@media (max-width: 425px) {
  .home-pera {
    font-size: 15px !important;
  }
  .image-right {
    height: auto;
    width: auto;
  }

  .image-left {
    left: 0%;
    top: -1%;
    position: absolute;
    height: auto;
    width: 92px;
  }
}
@media (max-width: 375px) {
  .image-right {
    left: 0%;
    top: -1%;
    position: absolute;
    height: auto;
    width: auto;
  }

  .image-left {
    height: auto;
    width: auto;
  }
}

@media (max-width: 768px) {
  .image-right {
    top: 35%;
    position: absolute;
    height: auto;
    width: 168px;
  }

  .image-left {
    left: 0%;
    top: 2%;
    position: absolute;
    height: auto;
    width: 110px;
  }
}
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  /* position: fixed; */
  width: 100vw;
  height: 100vh;
  z-index: -10;
  /* top: 0; */
  /* left: 0; */
  /* background: #230d3f; */
  /* overflow: hidden; */
}

/* .spaning span {
  z-index: -3;
  width: 15vmin;
  height: 17vmin;
  border-radius: 3vmin;
  backface-visibility: hidden;
  position: absolute;
}

.spaning span {
  color: #6ebaa4;
  top: 19%;
  left: 54%;
  box-shadow: 6vmin 0 1.5141318926351408vmin currentColor;
} */
