.div-to-flex-logo-connect-wallet {
  display: flex;
  justify-content: space-between;
  margin: 0px 50px;
  align-items: center;
  color: white;
  position: relative;
  /* width: 100%; */
  /* background-color: black; */
  /* box-shadow: rgba(70, 91, 99, 0.78) 0px 2px 10px; */
  z-index: 2;
}

.div-to-flex-logo-connect-wallet .smart-logo-portal {
  /* height: 100px; */
  width: 300px;
}
svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 1rem;
}
.connect-wallet-button-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media only screen and (max-width: 1024px) {
  .div-to-flex-logo-connect-wallet img {
    width: 250px;
  }
}

@media only screen and (max-width: 768px) {
  /* .div-to-flex-logo-connect-wallet img {
    height: 60px;
    width: auto;
  } */
  .div-to-flex-logo-connect-wallet {
    margin: 0px !important;
  }
  .div-to-flex-logo-connect-wallet .smart-logo-portal {
    height: 65px;
    width: 175px;
  }

  .connect-wallet {
    padding: 7px 27px;
    font-size: 10px;
  }

  .connect-wallet-button-div {
    font-size: 12px;
    padding: 11px 4px;
  }
  svg {
    margin-left: 2px;
  }

  .connect-wallet-button-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
@media only screen and (max-width: 425px) {
  /* .div-to-flex-logo-connect-wallet {
    display: flex;
    padding: 0px;
    margin: 0px;
    justify-content: space-around;
    align-items: center;
  } */

  .footer-outer-div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .disconnect {
    width: 150px;
  }
  .disconnect span {
    font-size: 12px !important;
  }
  .dropdown {
    width: 150px !important;
  }
  .dropdown span {
    font-size: 12px !important;
  }
  .disconnect-main {
    position: absolute;
    top: 50px;
    right: 58px;
    padding: 30px 0px;
    width: 200px;
  }

  .div-to-flex-logo-connect-wallet {
    display: flex;
    margin: 0 !important;
    justify-content: space-around;
    /* justify-content: center; */
    /* justify-content: space-between; */
  }

  .div-to-flex-logo-connect-wallet .smart-logo-portal {
    height: 60px;
    width: 180px;
  }
  svg {
    margin-left: 1px;
    height: 25px;
    width: 25px;
  }
  .connect-wallet {
    padding: 12px 27px;
    font-size: 10px;
  }
}
@media only screen and (max-width: 375px) {
  .div-to-flex-logo-connect-wallet .smart-logo-portal {
    height: 60px;
    width: 115px;
  }
  svg {
    width: 20px;
    height: 30px;
    cursor: pointer;
    margin-left: 1px;
  }
}
