.div-to-flex-logo-connect-wallet {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  color: white;
  width: 100%;
  background-color: #62198936;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  z-index: 2;
}

.div-to-flex-logo-connect-wallet img {
  height: 100px;
  width: 350px;
}

@media (max-width: 768px) {
  .div-to-flex-logo-connect-wallet img {
    height: 60px; /* Adjust the image size for smaller screens */
    width: auto; /* Allow the width to adjust proportionally */
  }

  .connect-wallet-button-div {
    font-size: 12px; /* Adjust the font size of the button text for smaller screens */
    padding: 1px 4px; /* Adjust button padding for smaller screens */
  }
}
