.App {
  text-align: center;
  background-image: url("./Assets/Homepage\ bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  /* background: #000000; */
  background-size: cover;
}
